<!-- temp_ui/templates/bluetooth_test.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bluetooth Test</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.2/dist/chart.umd.min.js"></script>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<h1>Bluetooth Connection Test</h1>

<section>
    <h2>JavaScript-only Connection</h2>
    <p>Target Weight: <input type="number" id="targetWeight" value="50"> kg</p>
    <p>Weight: <span id="weightValue">--</span></p>
    <p>Battery: <span id="batteryLevel">--</span></p>
    <button id="connect">Connect to ForceGrip</button>
    <button id="startWorkout">Start Workout</button>
    <button id="disconnect-js">Shutdown JS Connection</button>
    <div>
        <canvas id="weightChart"></canvas>
    </div>
</section>
<div>
    <a href="/">Go back to main</a>
</div>
<script>
    // JavaScript-only connection
    let weightData = [];
    let lastWeight = 0;
    let batteryLevel = 0;
    let isWorkoutRunning = false;
    let workoutId = null;
    let climberId = 1;
    const measurementInterval = 1000;  // 1 second
    let lastMeasurementTime = Date.now();
    let workoutIntervalId;

    let timeLabels = [];
    let chart;
    let BLE_Device = 0;

    const headers = {
        'Content-Type': 'application/json',
    }



    // Initialize Chart.js graph
    function initGraph() {
        const ctx = document.getElementById('weightChart').getContext('2d');
        chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: timeLabels,
                datasets: [{
                    label: 'Weight (kg)',
                    data: weightData,
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 2,
                    fill: false,
                    tension: 0.1,
                    pointRadius: 2,
                    pointHitRadius: 10,
                    pointHoverRadius: 5,
                    pointHoverBorderWidth: 2,
                }]
            },
            options: {
                responsive: true,
                scales: {
                    x: {
                        title: { display: true, text: 'Time (s)' }
                    },
                    y: {
                        title: { display: true, text: 'Weight (kg)' },
                        beginAtZero: true
                    }
                },
                animation: {
                    duration: 0,
                },
                hover: {
                    animationDuration: 0,
                },
            }
        });
    }

    // Connect to BLE weight scale
    async function connectToScale() {
        try {
            console.log('Requesting Bluetooth device with weight scale service...');
            BLE_Device = await navigator.bluetooth.requestDevice({
                filters:[{services:[0x181d]}],
            });

            console.log('Connecting to GATT server...');
            const server = await BLE_Device.gatt.connect();

            console.log('Getting weight scale service...');
            const service = await server.getPrimaryService(0x181d);

            console.log('Getting weight measurement characteristic...');
            const weightCharacteristic = await service.getCharacteristic(0x2a9d);

            console.log('Subscribing to weight notifications...');
            weightCharacteristic.addEventListener('characteristicvaluechanged', event => {
                const value = event.target.value;
                const weight = value.getUint16(1, true) / 200;
                const targetWeight = document.getElementById('targetWeight').value;
                lastWeight = weight;

                //console.log('Weight:', weight);
                document.getElementById('weightValue').innerText = weight.toLocaleString(undefined, { minimumFractionDigits: 1 , maximumFractionDigits:1}) + " kg";
                //updateGraph(weight);
                if(weight < (0.9*targetWeight)) {
                    document.getElementById('weightValue').style.color = "blue";
                } else if (weight > (1.1*targetWeight))
                {
                    document.getElementById('weightValue').style.color = "red";
                } else {
                    document.getElementById('weightValue').style.color = "green";
                }
                weightData.push(weight);
                if (weightData.length > 60) {
                    weightData.shift();
                    timeLabels.shift();
                }

                const currentTime = new Date().toLocaleTimeString();
                timeLabels.push(currentTime);
                chart.update();
            });

            console.log('Getting battery level measurement characteristic...');
            const batteryCharacteristic = await service.getCharacteristic(0x2a19);

            console.log('Subscribing to battery level notifications...');
            batteryCharacteristic.addEventListener('characteristicvaluechanged', event => {
                const value = event.target.value;
                const batteryLevel = value.getUint8(0);
                batteryLevel = batteryLevel;

                document.getElementById('batteryLevel').innerText = batteryLevel + " %";
            });

            await weightCharacteristic.startNotifications();
            await batteryCharacteristic.startNotifications();
            console.log('Notifications started.');

        } catch (error) {
            console.error('Error:', error);
        }
    }

    async function startWorkout() {
        try {
            const response = await fetch(`/climber/${climberId}/start_workout`, {
                method: 'POST',
                headers
            });
            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }
            const data = await response.json();
            workoutId = data.workout_id;
            console.log("Started workout with ID:", workoutId);
            isWorkoutRunning = true;
        } catch (error) {
            console.error("Failed to start workout:", error);
        }
    }

    async function addMeasurement(workoutId, weight, battery) {
        try {
            if(workoutId)
            {
                const response = await fetch(`/workout/${workoutId}/add_measurement`, {
                    method: 'POST',
                    headers,
                    body : JSON.stringify({weight: weight, battery: battery}),
                });
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                const data = await response.json();
            }
        } catch (error) {
            console.error("Failed to add measurement:", error);
        }
    }

    document.getElementById('startWorkout').addEventListener('click', async () => {
        if (!isWorkoutRunning) {
            await startWorkout();
            workoutIntervalId = setInterval(() => {
                    const currentTime = Date.now();

                    if(lastMeasurementTime <= currentTime-measurementInterval)
                    {
                        addMeasurement(workoutId, lastWeight, batteryLevel);
                        lastMeasurementTime = Date.now()
                    }
                }, measurementInterval);
            document.getElementById('startWorkout').textContent = 'Stop Workout';
        } else {
            isWorkoutRunning = false;
            clearInterval(workoutIntervalId);
            document.getElementById('startWorkout').textContent = 'Start Workout';
        }
    });

    // Event listener for connect button
    document.getElementById('connect').addEventListener('click', () => {
        if((BLE_Device == 0) || (!BLE_Device.gatt.connected))
        {
            weightData = [];
            timeLabels = [];

            connectToScale();
            document.getElementById('connect').innerText = "Disconnect";
        }
        else
        {
            BLE_Device.gatt.disconnect();
            chart.update();
            document.getElementById('connect').innerText = "Connect to ForceGrip";
        }
    });

    document.getElementById('disconnect-js').addEventListener('click', () => {
         if (BLE_Device && BLE_Device.gatt.connected) {
            BLE_Device.gatt.disconnect();
        }
        weightData = [];
        timeLabels = [];
        chart.data.labels = timeLabels;
        chart.update();
        document.getElementById('connect').innerText = "Connect to ForceGrip";
    });

    // Initialize graph on page load
    window.onload = function () {
        initGraph();
    };
</script>
</body>
</html>