<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Climbers List</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Climbers</h1>
    <ul>
        {% for climber in climbers %}
            <li>
              <a href="/climber/{{ climber.id }}/workouts">{{ climber.first_name }} {{ climber.last_name }} - Age: {{ climber.age }}</a>
            </li>
        {% endfor %}
    </ul>
    <a href="/">Go back to main</a>
</body>
</html>